<!-- <div id="editmyModal_{{item.task_id}}" class="modal fade" role="dialog"> -->

<style>
    .modal-body { padding: 5px !important;}
    .form-group { margin-bottom: 0px !important;}
    label{margin-bottom: 0px;}
    p{margin: 0px;}
    .modal-header { padding: 5px !important; background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(183,222,237,1) 51%, rgba(150,195,227,1) 100%); text-align: center !important;}
    
</style>

                      <div class="modal-dialog" style="width:100% !important;">



                        <!-- Modal content-->

                        <div class="modal-content">

                          <div class="modal-header">
                                
                         <button type="button" class="close" ng-click="cancelMe()">&times;</button
                         
                         
                         <h3><p style=" font-size: 20px; font-weight: bold;">Create Task</p></h3>
                            

                          </div>

                          <div class="modal-body">

<form  ng-submit="submittask()">
    
    <table>
        <tr style="width:100%;">
        <td style="width:50%;padding: 2px;">
            <div class="form-group">
                <label for="inputSubject">Subject</label>
                <input type="text" class="form-control" id="inputSubject" placeholder="Subject"  required data-ng-model="newtask.task_subject">
            </div>
        </td>
        <td style="width:50%;padding: 2px;">
            <div class="form-group">
                <label for="inputAmount">Amount in lacs</label>
                <input type="text" class="form-control" id="inputAmount" placeholder="Amount"  data-ng-model="newtask.task_amount">
            </div>
            
            
        </td>
        </tr>
        
        <tr style="width:100%;background: #eee;">
        <td style="width:50%;padding: 2px;">
          <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea class="form-control" id="inputDescription" placeholder="Description" data-ng-model="newtask.task_description"></textarea>
            </div>   
        </td>
        <td style="width:50%;padding: 2px;">
           <div class="form-group">
                <label for="inputRemark">Feedback</label>
                <textarea class="form-control" id="inputRemark" placeholder="Feedback" data-ng-model="newtask.remark"></textarea>
            </div>  
        </td>
        </tr>
        
        
        <tr style="width:100%;">
        <td style="width:50%;padding: 2px;">
            <div class="form-group"> 
                <label class="control-label" for="date">Due Date</label>
                
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control"  required  data-ng-model="newtask.task_due_date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
              </div>
              <script type="text/javascript">$('.datepicker').datepicker({autoclose :true});</script>
        </td>
        <td style="width:50%; background: #eee;padding: 2px;">
             <div class="form-group">
                  <label for="nature">Task Nature</label>
                  <select class="form-control"   id="nature" data-live-search="true" data-ng-model="newtask.task_nature" required>
                    <option value="Critical">Critical</option>
                    <option value="Legal">Legal</option>
                    <option value="Routine">Routine</option>
                  </select>
                 
                </div>

                <div class="form-group" ng-show="newtask.task_nature">
                 
                  <input type="checkbox" class="" id="legal" value="1" data-ng-model="newtask.legal">
                  <label for="Legal">Legal Violation</label>
                </div>
        </td>
        </tr>
        <tr style="width:100%;background: #eee;">
        <td style="width:50%;padding: 2px;">
            <div class="form-group" ng-hide="show">
                  <label for="assign">Assign To</label>
                  <select class="form-control" id="assign" required data-ng-model="newtask.assign_to"  ng-change="getchildemps(newtask.assign_to);">
                    <option  ng-repeat="item in emps" value="{{item.id}}">{{item.name}}</option>
                  </select>
                 

                </div>
        </td>
        <td style="width:50%;padding: 2px;">
            <div class="form-group" ng-show="show_assignee_child">
                  <label for="assignee_child">Sub Department</label>
                  <select class="form-control" id="assign" data-ng-model="newtask.assignee_child">
                    <option  ng-repeat="item in emps2" value="{{item.id}}">{{item.name}}</option>
                  </select>
                 

                </div>
        </td>
        </tr>
        
        <tr style=" background: transparent;"><td><button type="submit" class="btn btn-primary">Create</button></td>
        </tr>
   
    </table>
            

            

            

              <!--<div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control"  id="status" data-ng-model="newtask.task_status" required>
                    <option  ng-repeat="item in status" value="{{item.name}}">{{item.name}}</option>
                  </select>
                 

                </div> -->
                
           
                
             
              
            <!--<div class="form-group">
                <label for="inputIssue">Issue</label>
                <textarea class="form-control" id="inputIssue" placeholder="Issue" data-ng-model="newtask.task_issue"></textarea>
            </div>-->

                

                
            
           
            


           
        </form>

<div class="loader-box" ng-show="loader"><div class="loader"></div></div>
                          </div>

                         

                        </div>



                      </div>

            <!--         </div> -->